/*Navbar*/
nav ul{
    list-style: none;
    display: flex;
}

.navbar{
    background: transparent;
    color: #414A37;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 5px 100px;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    display: flex;
    transition: 0.5s ease-in-out;
}

.navbar.scrolled{
    background-color: #414A37;
    color: white;
    z-index: 1;
}

.navigation a{
    text-decoration: none;
    color: #414A37;
    font-size: 18px;
    font-weight: 400;
    margin-left: 40px;
    position: relative;
    transition: 0.5s ease-in-out;
}

.navbar.scrolled .navigation a{
    color: white;
    z-index: 1;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: #414A37;
    z-index: -1;
    border-radius: 5px;
    width: 100%;
    height: 3px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s;
}

.navbar.scrolled .navigation a::after{
    background-color: #DBC2A6;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation a:active:hover::after{
    transform: scaleX(0);
    transform-origin: right;
}

.navbar{
    border-bottom: 0.1px solid #414A37;
}

.active{
    border-radius: 8px;
    padding: 5px;
    box-shadow: 1px 1px 1px 1px rgb(129, 111, 93);   
}
a.active{
    color: #DBC2A6;
    background-color: #414A37;
}
.navbar.scrolled a.active{
    color: #414A37;
    background-color: #DBC2A6;
}
.navbar.scrolled .active{
    padding: 5px;   
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);      
}


/* MENU */
.burger{
  display: none;
  width: 20px;
  height: 3px;
  background-color: #414A37;
  margin: 6px;
}

/*Company Logo*/
#logo{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/*Main Container*/
#container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 50px 50px;
    padding-bottom: 30px;
    background-color: #414A37;
    transition: 0.5s ease-out;
    margin: 30px 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px;
    margin-bottom: 100px;
}

#container.scrolled{
    background-color:  #DBC2A6;
    box-shadow: none;
    border-radius: 0;
}

/*Entry Animation*/
#up{
    transform: translateY(-100px);
    opacity: 0;
}

#down{
    transform: translateY(100px);
    opacity: 0;
}

#down.down{
    transform: translateY(0);
    opacity: 1;
    transition: transform 1s ease-out, opacity 1s ease-in;
}

#up.up{
    transform: translateY(0);
    opacity: 1;
    transition: transform 1s ease-out, opacity 1s ease-in;
}


/*Text Side*/
h1{
    padding-bottom: 20px;
    letter-spacing: 0.2rem;
}

.right{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    color: #DBC2A6;
    font-size: 1.4rem;
    word-spacing: 2px;
    line-height: 1.9rem;
    letter-spacing: 0.2rem;
    margin-bottom: 20px;
}

#container.scrolled .right{
    color: rgb(65, 74, 55);
}

.right a{
    text-decoration: none;
    color: #414A37;
    background-color: #DBC2A6;
    padding: 10px 20px; 
    margin: 20px;
    border-radius: 8px;
    transition: 0.3s ease-out;
    font-size: 1.3rem;
    font-weight: 500;

}

.right a:hover{
    text-decoration: underline;
    transform: translateY(-5px);
    box-shadow: 5px 5px 10px black;
}

#container.scrolled .right a{
    color: rgb(219, 194, 166);
    background-color: #414A37;
}


/*Image Side*/
.left{
    border-radius: 20px;
    background-image: url(./Images/headphones.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 31rem;
    width: 12rem;
    flex-grow: 1;
    filter: drop-shadow(0 0 5px rgba(219, 194, 166,1));
}

#container.scrolled .left{
    filter: drop-shadow(-35px -3px 1px rgba(65, 74, 55,1));
}

#links-container button{
    display: none;
}

/*Products*/
#products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    padding: 20px 70px;
    gap: 30px;
    max-width: 1400px;      
    margin: 0 auto;
    padding-bottom: 40px;
    overflow: hidden;
    margin-top: 15px;
    min-height: 45dvh;
    font-weight: 20px;
    font-weight: 600;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    color: black;
    text-decoration: none;
    overflow: hidden;
    padding: 40px;
    gap: 20px;
}
.product img{
    height: 12.5rem;
    width: 12.5rem; 
    border-bottom: 1px solid black;
    padding: 10px;
}

.product:hover{
    text-decoration: underline;
    transform: translateY(-3px);
    box-shadow: 4px 4px 1px 1px rgb(0, 0, 0,0.5);
}

.product div{
    background-image: url(images/wired.png);
    background-size: cover;
    background-position: center;
    height: 200px;
}

.product span{
    padding: 20px;
    text-align: center;
    color: #414A37;
    font-size: 16px;    
    font-weight: 600;
}

/*Loading animation*/
.spinner {
  position: absolute;
  top: 40%;
  left: 50%;

  width: 50px;
  height: 50px;
  border: 3px solid rgba(0,0,0,0.1);
  border-top-color: var(--primary);
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
  margin: 40px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*  Product Details */
#services{
  min-height: 90vh;
  display: flex;
  justify-content: center;
}
.product-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 60px 20px;
}
.product-details-wrapper a img{
    margin-bottom: 10px;
}
.product-details-wrapper a img:hover{
    transform: translateY(2px);
}

/*  MAIN CONTAINER  */
.product-details-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  gap: 60px;
}


/*  IMAGE SIDE  */
.product-image-box {
  background: white;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.15);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image-box img {
  width: 300px;
  max-height: 500px;
  object-fit: contain;
}

/*  INFORMATION SIDE  */
.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* Title */
.product-title {
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--primary);
  font-family: "Playfair Display", serif;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}

/* Rating */
.product-rating {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  gap: 6px;
}

.star {
  color: gold;
  font-size: 1.3rem;
}

.rating-count {
  color: #555;
  font-size: 0.95rem;
}

/* Price */
.product-price {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--primary);
}

/* Description */
.product-description {
  font-size: 1rem;
  line-height: 1.6rem;
  color: #222;
}

/*  BUTTONS  */
.product-buttons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.btn{
  padding: 12px 28px;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
  transition: 0.25s ease;
}

/* primary button */
.primary-btn {
  background-color: var(--primary);
  color: white;
}

.primary-btn:hover {
  background-color: #2f3628;
}

.primary-btn:active{
    transform: translateY(2px);
    background-color: #222c18;
}

/* secondary button */
.secondary-btn {
  padding: 0;
  background-color: transparent;
  border: 2px solid var(--primary);
}

.secondary-btn a{
    padding: 12px 28px;
    text-decoration: none;
    color: var(--primary);
}

.secondary-btn:hover {
  background-color: var(--primary);
}

.secondary-btn a:hover{
  color: white;
}

/*Cart*/
.cart-details-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  min-height: 90vh;
  color: #DBC2A6;
  font-weight: 600;
  gap: 10px;
}

.shopping-cart{
    border-bottom: 1px solid #414A37;
    max-width: 1200px;
    width: 100%;
    display: flex;
    border-radius: 6px;
    color: var(--primary);
}

.cart-details-wrapper>h1{
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    color: #414A37;
    font-size: 1.8rem;
}

.cart-details-wrapper>h2{
    color: #414A37;
    font-size: 1.6rem;
}

.cart-details-wrapper h2 a{
    text-decoration: none;
    background-color: #414A37;
    color:#DBC2A6;
    border-radius: 6px;
    padding: 0 5px;
}

.cart-details-wrapper h2 a:hover{
    text-decoration: underline;
}

.cart-info{
    padding: 10px;
    display: flex;
    gap: 40px;
}

.cart-image img{
    height: 200px;
    width: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 6px;
}

.product-quantity{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.product-quantity button{
    border: none; 
    display: flex;
    justify-content: center;
    align-items: center;
    height:30px;                        
    width: 30px;
    background-color: var(--primary);
    border-radius: 50%;
    color: #DBC2A6;
    font-size: 20px;
}

.product-quantity button:active{
    transform: translateY(1px);
    background-color: #d3b490;
}

.product-quantity span{
  font-size: 16px;
}

.cart-bottom{
    width: 100%;
    color: #414A37;
    display: flex;
    justify-content: space-around;
}

.cart-bottom button{
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    background-color: #414A37;
}

.cart-bottom button:hover{
    background-color: #343f28;
}

.cart-bottom button:active{
    transform: translateY(1px);
    background-color: #343f28;
}

.cart-bottom a{
    text-decoration: none;
    color: #DBC2A6;
    font-size: 18px;
}

/*Checkout*/
#checkout{
    display: flex;
    align-items: start;
    gap: 60px;
    margin: 25px;
    color: #414A37;
    max-width: 1200px;
}
#checkout h1{
    margin-bottom: 20px;
    padding: 0;
    border-bottom: 1px solid #414A37;
}
.information{
    width: 100%;
}
.information form #details>input,textarea{
    width: 300px;
    height: 30px;
    font-size: 15px;
    border: 1px solid #414A37;
    border-radius: 8px;
    text-indent: 10px;
}
.information form #details>input,textarea:focus{
    outline: none; 
}
.information form #details{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 20px;
}
.information form{
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    margin: 20px;
    width: 100%;
    font-weight: 600;
}
.information form #radio{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
}
.information form h2{
    border-bottom: 1px solid #414A37;
    padding-bottom: 10px;
}
.options{
    display: flex;
    gap: 10px;
    padding: 10px;
}
.finalize{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 6px;
    padding: 20px;
    gap: 10px;
    margin-top: 85px;
}
.finalize button{
    padding: 10px 20px;
    background-color: #414A37;
    border: none;
    border-radius: 6px;
    color: #DBC2A6;   
}
.finalize button:hover{
    background-color: #343f28;
}
.finalize button:active{
    transform: translateY(1px);
}


/*Footer*/
footer{
    display: flex;
    flex-direction: column;
    min-height: 350px;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-weight: 500;
}

footer h3{
    padding-bottom: 20px;
}

footer li{
    list-style: none;
}

footer li a{
    list-style: none;
    text-decoration: none;
    color: white;
}

footer li a:hover{
    text-decoration: underline;
}

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}

.get-in-touch{
    text-align: start;
    display: flex;
    flex-direction: column;
    align-content: flex-start;   
}

.extra{
    display: flex;
    flex-direction: column;
    text-align: start;
}

.newsletter{
    text-align: start;
    max-width: fit-content;
}

.newsletter form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.newsletter input{
    border-radius: 12px;
    padding: 10px 20px;
}

.newsletter button{
    background-color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 12px;
}

.newsletter button:hover{
    background-color: #DBC2A6;
}

.social a svg{
    fill: white;
    height: 32px;
}

.social a{
    padding: 1em;
}

.social a svg:hover{
    fill: var(--accent-color);
}

.social a:nth-child(3) svg:hover{
    background-color: white;
    border-radius: 50%;
}

.top{
    padding: 20px 10px;
    display: flex;
    justify-content: end;
}

footer .bottom{
    display: flex;
    justify-content: center;
    border-top: 0.1px solid white;
}

.copyrights{ 
    text-align: center;
    font-size: 14px;
}



/*Responsive*/

@media (max-width:769px){
    body{
        min-height: 100dvh;
        max-width: 100%;
    }
    #container{
        gap: 30px;
        padding: 10px 20px;
    }
    #links-container{
        position: fixed;
        top: 0;
        right: -100%;
        transform: translateX(0);  /* Slide in */
        transition: right 0.3s ease-out;
        height: 100%;
        width: min(15em,100%);
        background-color: #414A37;
        z-index: 1001;
        padding: 40px 5px;
    }
    #links-container button{
        display: block;
        background-color: transparent;
    }
    #links-container.menu{
        right: 0;
    }
    #links-container a{
        color: white;
        margin: 0;
    }
    #hamburger{
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        z-index: 2000;
    }
    #hamburger.scrolled .burger{
        background-color: white;
    }
    .burger{
        margin: 2px;
        display: block;
    }
    nav ul{ 
        display: block !important;
    }
    nav ul li{
        padding: 10px;
    }
    .navbar{
        padding: 10px 30px;
    }
    .right{
        font-size: 1.2rem;
        padding: 0;
    }
    .left{
        flex-grow: 0;
        height: 400px;
        width: 250px;
    }
    .navigation a{
        margin-left: 20px;
    }
    .navbar.scrolled .navigation a:focus{
        background-color: #DBC2A6;
        color: #414A37;
        font-weight: 400;
    }
    #products { 
        grid-template-columns: repeat(2,1fr);
        padding: 40px 30px;
        gap: 30px;
    }
    .social a svg{
        height: 22px;
    }
    .extra{
        text-align: center;
    }
    .product div{
        height: 200px;
    }
    .product span{
        padding: 15px;  
    }
    .container{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding: 30px 20px;
    }
    .social a svg{
        height: 28px;
    }
    .product-image-box img {
        height: 200px;
        width: 200px;
    }
    .product-details-container {
      text-align: center;
      padding: 0;
    }
}


/*426*/
@media (max-width:426px){
    body{
        min-height: 100dvh;
        max-width: 100%;
    }
    .logo{
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }
    .navbar{
        padding: 6px 12px;  
    }
    .navigation a:active{
        text-decoration: underline;
    }
    #container{
        gap: 0;
        margin: 50px 20px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        box-shadow: 10px 10px 30px;
        border-radius: 20px;   
    }
    #container.scrolled .left{
        filter: drop-shadow(-15px -1px 1px rgba(65, 74, 55,1));
    }
    .left{
        padding: 1.5rem 0;
        filter: drop-shadow(0 0 5px rgba(219, 194, 166,1));
        height: 150px;
        margin: 20px 0;
    }
    h1{
        font-size: 2rem;
        font-weight: bold;
    }
    .right{
        margin: 0;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 10px;
        width: 100%;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5rem;
        overflow-wrap: break-word;
    }
    .right a{
        font-size: 1rem;
        font-weight: 500;
        padding: 0.5rem 0.8rem;
        margin-top: 10px;
    }
    #products{
        grid-template-columns: repeat(100px,1fr);
        padding: 20px 20px;
    }
    .product div{
        height: 100px;
    }
    .product span{
        padding: 12px;
        font-size: 12px;
    }
    .product{
        padding: 20px;
        font-size: 13px;   
    }
    .product img{
        height: 6.25rem;
        width: 6.25rem;
    }
    footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        min-height: auto;
        font-size: 14px;
        line-height: 1.2rem;
    }
    .social a svg{
        height: 20px;
    }
    footer h3{
        padding-bottom: 10px;
    }
    .container{
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 20px 20px;
        text-align: center;
    }
    .get-in-touch{
        text-align: start;
        align-items: center;
    }
    .extra{
        text-align: center;
        align-items: center;
    }
    .newsletter{
        text-align: center;
        max-width: 100%;
        margin: 0 auto;
    }
    .top{
        justify-content: center;
        padding: 20px;
    }
    .social a{
        padding: 0.5em;
    }
    .copyrights{
        font-size: 0.7rem;
    }
    .social a svg{
        height: 24px;
    }
    .product-details-container{
        flex-direction: column;
    }
    .product-details-wrapper a img{
        height: 40px;
        width: 40x;
    }
    .product-buttons{
        display: flex;
        justify-content: center;
    }
    .shopping-cart h1{
        font-size: 21px !important;
    }  
    .card-total{
        align-items: end;
    }
    .cart-image img{
        height: 150px;
        width: 150px;
    }
    .cart-details-wrapper h2{
        text-align: center;
    }
    #checkout{
        gap: 0;
        flex-direction: column;
        align-items: center;
        margin: 0;
        font-size: 15px;
    }
    .information{
        display: flex;
    }
    .information h1{
        font-size: 1.7rem;
    }
    .information form #details{
        font-size: 1rem;
    }
    .finalize{
        margin: 20px;
    }
}

/*321*/
@media (max-width: 321px){
    #container{
        margin-top: 50px;
    }
    .right{
        padding-top: 10px;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .left{
        height: 8rem;
        padding: 0;
        margin: 0;
    }
    #container{
        gap: 0;
    }
    .product span{
        padding: 10px;
    }
    .product div{
        height: 80px;
    }
    .product span{
        font-size: 12px;
    }
}