*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --primary: #414A37;
  --light: #DBC2A6;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  background-color: var(--light);
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}


